<launch>

  <arg name="use_tls" default="true" />

  <node name="mqtt_bridge" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen">
    
    <rosparam command="load" file="$(find aws_iot_mqtt_bridge)/config/aws_iot_params.yaml" />

    <rosparam if="$(arg use_tls)" command="load" ns="mqtt" file="$(find aws_iot_mqtt_bridge)/config/tls_params.yaml" />
  </node>
</launch>